body {
    font-family: "Poppins", sans-serif;
    max-width: 100%;
    margin: 0 auto;
}

/* Header styles */
.header {
    padding-left: 20px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    position: fixed;
    width: 100%;
    background:linear-gradient(45deg, #4CAF50, #00BCD4) ;
}
.header h1{
    margin-left: 20px;
    color: white;
}
.whole{
    padding: 110px 80px;
}
.back-arrow {
    font-size: 18px;
    margin-right: 10px;
    border: 2px solid white;
    padding: 5px 10px;
    border-radius:100px;
    cursor: pointer;
    color: white;
}

.back-arrow:hover{
    background:linear-gradient(45deg, #4CAF50, #00BCD4) ;
}
/* Team member styles */
.team-members {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.member-card {
    text-align: center;
    padding: 10px;  
    border-radius: 10px;
    width: 18%;
    background: white;
    border: none;
    outline: none;
    border-color: transparent; 
    background: linear-gradient(white, white) padding-box, 
    linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    border-style: solid;
    color: black;
    transition: transform 0.3s ease, border-color 0.3s ease, background 0.3s ease;
}
.member-card:hover {
    transform: scale(1.05);  /* Scales the card up by 5% */
    border-color: black;
    background: linear-gradient(45deg, #4CAF50, #00BCD4);
}
.member-avatar {
    height: 90px;
    font-size: 80px;
    margin: -10px auto 20px;
}
.member-name {
    font-weight: bold;
    margin-bottom: 5px;
}
.member-role {
    color: black;
}

/* Description styles */
.description {
    margin-top: 50px;
    text-align: justify;
    border: none;
    outline: none;
    border-color: transparent; 
    background: linear-gradient(white, white) padding-box, 
    linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    border-style: solid;
    color: black;
    padding: 50px;
    border-radius: 50px;
    transition: transform 0.3s ease, border-color 0.3s ease, background 0.3s ease;
}

/*.description:hover { */
  /*  transform: scale(1.05);*/  /* Scales the card up by 5% */
/*}*/


/* Contact us*/


/* Main container styling */
.container {
    margin: 0 auto;
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    max-width: 400px;
}
 /* Title section styling */
.form-title {
    text-align: center;
    width: 104.7%;  
    margin-bottom: 24px;
    border-bottom: 2px solid black;
}

/* Form group styling */
.form-group {
    margin-bottom: 16px;
}
.form-group label {
    display: block;
    margin-bottom: 8px;
}
.form-group input,
.form-group textarea {
    width: 100%;
    height: 30px;
    padding: 8px;
   
    font-size: 16px;
    text-align: center;
    background: white;
    border: none;
    outline: none;
    border-color: transparent; 
    background: linear-gradient(white, white) padding-box, 
    linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    border-style: solid;
    color: black;
    
  
}
.form-group textarea {
    height: 100px;
    width: 100%;
    resize: none;
    
}
/* Submit button styling */
.submit-btn {
    width: 104.7%;
    padding: 12px;
    color: white;
    border: none;
    background: linear-gradient(45deg, #4CAF50, #00BCD4);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.submit-btn:hover{
    background: white;
    border: none;
    outline: none;
    border-color: transparent; 
    background: linear-gradient(white, white) padding-box, 
    linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    border-style: solid;
    color: black;
}

@media (max-width: 768px) {
    .header h1{
        font-size: 25px;
    }
    .team-members{
        flex-wrap: wrap;
    justify-content: space-around;
    }
    .member-card {
        width: 100%;
        margin: 10px;
    }

    .whole {
        padding: 90px 10px;
    }

    .description {
        padding: 20px;
        border-radius: 20px;
    }

    .container {
        padding: 20px;
    }
}