/* Body and Grid Layout */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-areas:
        "top top top"
        "left middle right";
    grid-template-rows: auto 1fr;
    grid-template-columns: 25% 50% 25%;
    min-height: 100vh;
    padding-top: 50px;
}

/* Top Section */
#top {
    grid-area: top;
    background: linear-gradient(90deg, #4CAF50, #00BCD4);
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.icon-bar {
    position: absolute; /* or use fixed for it to stay while scrolling */
    top: 15px; /* Adjust to your preference */
    right: 25px; /* Adjust to your preference */
    cursor: pointer; /* Makes the icon look clickable */
    display: none;
}

.fa-bars {
    font-size: 24px; /* Adjust icon size if necessary */
    color: white; /* Icon color */
    margin-right: 10px;
}


.fa-user{
    font-size: 24px;
    color: white;
    margin-right: 15px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 30px;
    height: 30px;
    margin-right: 15px;
    margin-left: 10px;
    border-radius: 50px;
}

.site-name {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Left Section */
#left {
    grid-area: left;
    background-color: white;
    padding: 0 15px;
    border-right: 1px solid lightgrey;
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 1000;
    width: 22.74%;
}

.account-details {
    text-align: center;
}

.file-input {
    display: none;
}

.custom-button {
    font-size: 0.75rem;
    border-bottom: 1px solid black;
    padding: 10px;
    
}

.custom-button:hover {
    cursor: pointer;
}

.profile-picture {
    width: 150;
    height: 150px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.account-details h2 {
    margin: 10px 0;
    font-size: 1.2rem;
}

.account-details p {
    margin: 5px 0;
    text-align: left;
    font-size: 0.8rem;
    margin-left: 10px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #030303;
    border: 2px solid transparent;
    border-radius: 50px;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background: linear-gradient(90deg, #4CAF50, #00BCD4);
    color: white;
}

.upload-btn {
    width: 100%;
    margin-bottom: 10px;
    font-size: 10px;
    color: #030303;
    border: 2px solid transparent;
    border-radius: 50px;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-btn:hover {
    background: linear-gradient(90deg, #4CAF50, #00BCD4);
    color: white;
}

/* Middle Section */
#middle {
    grid-area: middle;
    background-color: white;
    padding: 0;
}

.posting {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
    color: #030303;
    background-color: white;
    position: fixed;
    width: 50%;
    z-index: 1000;
}

.posting button {
    border: none;
    outline: none;
    background-color: white;
    margin: 10px 20px;
    font-size: 0.9rem;
}

/* Right Section */
#right {
    grid-area: right;
    background-color: white;
    padding: 0 15px;
    border-left: 1px solid lightgrey;
    position: fixed;
    right: 0;
    height: 100%;
    width: 23%;
    z-index: 1000;
}

.other h3 {
    text-align: center;
}

.posting a {
    text-decoration: none;
    color: black;
}

/* Post page */
.form-container {
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    margin: 80px auto;
}

.p-icon {
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
}
/* Ensure the container is a flex container and aligns items to the right */


/* Styling for the post button */
.post-btn {
    background-color: transparent;
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 50px;
    cursor: pointer; /* Makes the button look clickable */
    font-size: 0.9rem;
    color: black;
    transition: background-color 0.3s ease;
    margin-right: 20px;
}

.post-btn:hover {
    background: linear-gradient(90deg, #4CAF50, #00BCD4);
    color: white;
}

.icon, .plus-icon {
    margin: 0 10px;
}
.plus-icon img{
    cursor:pointer;
}
.icon img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.text-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 5px;
}







.tab {
    display: inline-block;
    padding: 10px 10px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #4CAF50;
}
/* Modal Styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; 
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.7); /* Black background with opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 300px;
}

.modal h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.modal p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.modal-buttons {
    display: flex;
    justify-content: space-around;
}

.btn1 {
    width: 100%;
    padding: 10px;
    margin: 10px;
    font-size: 0.9rem;
    color: #030303;
    border: 2px solid transparent;
    border-radius: 50px;
    background: linear-gradient(white, white) padding-box, linear-gradient(45deg, #4CAF50, #00BCD4) border-box;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.modal-post {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
   z-index: 1000;
}

.modal-content-post {
    background-color: white;
    padding: 20px 0px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    border-radius: 20px;
}
.modal-content-post h3{
    text-align: center;
    border-bottom: 1px solid black;
    width: 100%;
    padding-bottom: 10px;
}
.btn-upl{
    border-top: 1px solid black;
    padding: 20px 100px;
}
.post-input-group{
    border: 2px solid transparent;
    background-color: transparent;
    padding: 0px 20px;
    margin-bottom: 10px;
    height: 150px;
    max-height: 200px;
}
.post-input-group textarea{
    resize: none;
    width: 100%;
    height: 100%;
}
.fullscreen-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.fullscreen-image {
    max-width: 90%;
    max-height: 90%;
}

.close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.post-container {
    background-color: #fff;
    padding: 20px;
    margin: 80px auto;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding-top: 30px;
    padding-bottom: 30px; 
}
.user-post {
    display: flex; 
    align-items: center; 
    border-bottom: 1px solid grey;
    padding-bottom: 20px;
}

.user-post p {
    margin: 0 10px;         
}

.user-dp {
    max-width: 50px;
    margin-right: 10px;
    border-radius: 50px;
}
.post-content img {
    display: block;
    margin: 0 auto;

}


.btn1:hover {
    background: linear-gradient(90deg, #4CAF50, #00BCD4);
    color: white;
}



.post-content {
    padding: 15px; /* Optional: Add padding */
}

.student-college {
    color: #8e8e8e;
}

.swiper-container {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

.swiper-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.swiper-pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}

#fullscreenModal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
    justify-content: center;
}

#fullscreenImage {
    max-width: 90%;
    max-height: 90%;
}

#closeModal {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.fade-in {
    animation: fadeIn 3s;
}
/* Mobile responsive account */
.icon-container {
    position: absolute;
    top: 15px;
    right: 25px;
    display: flex;
    align-items: center;
}

.fa-user, .fa-bars {
    font-size: 24px;
    color: white;
    margin-left: 15px;
    cursor: pointer;
}
#imagePreviews {
    display: flex; /* Aligns the previews in a row */
    overflow-x: auto; /* Enables horizontal scrolling */
    padding: 10px; /* Optional: adds some padding */
    white-space: nowrap; /* Prevents wrapping to the next line */
}

#imagePreviews div {
    margin-right: 10px; /* Adds space between images */
}


@media screen and (max-width: 768px) {
    #left, #right {
        display: none;
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 93%;
        max-width: 450px;
        z-index: 1000;
        overflow-y: auto;
    }

    #left {
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    #right {
        right: -100%;
        transition: right 0.3s ease-in-out;
    }

    #left.show {
        left: 0;
        display: block;
    }

    #right.show {
        right: 0;
        display: block;
    }
    .post-container {
        margin: 60px auto;
        padding: 15px;
    }
    

    .user-post {
        padding-bottom: 15px;
    }

    .user-post p {
        font-size: 12px;
        margin: 5px 0;
    }

    .user-dp {
        max-width: 40px;
    }

    .post-content {
        padding: 10px 0;
    }

    .student-college {
        font-size: 10px;
    }

    .swiper-container {
        max-height: 300px;
    }

}

@media screen and (max-width: 768px) {
    body {
        grid-template-areas:
            "top"
            "middle";
        grid-template-columns: 1fr;
    }

    #middle {
        padding: 0 10px;
    }
}
/* Responsive Design */
@media screen and (max-width: 1024px) {
    body {
        grid-template-areas:
            "top top top"
            "left middle right";
        grid-template-columns: 30% 40% 30%;
    }
    #middle {
        width: 100%;
    }

    .posting {
        width: 100%;
    }
   
}
/* tablet*/
@media screen and (max-width: 1010px) {
    body {
        grid-template-areas:
            "top"
            "middle"
            "right";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
    }

    .posting {
        position: fixed;
        width: 100%;
    }
    
    #left {
        padding: 15px;
        display: none;
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 93%;
        max-width: 450px;
        z-index: 1000;
        overflow-y: auto;
    }
  
    #right {
        padding: 15px;
        display: none;
        position: fixed;
        top: 50px;
        bottom: 0;
        width: 93%;
        max-width: 450px;
        z-index: 1000;
        overflow-y: auto;
    }

    #left {
        left: -100%;
        transition: left 0.3s ease-in-out;
    }

    #right {
        right: -100%;
        transition: right 0.3s ease-in-out;
    }

    #left.show {
        left: 0;
        display: block;
    }
    
    #right.show {
        right: 0;
        display: block;
    }

    .btn {
        font-size: 20px;
        padding: 8px;
    }

    .posting button {
        margin: 5px 10px;
    }

    .form-container {
        width: 90%;
    }

    .icon-bar {
        display: block;
    }
}


/* sellphone */
@media screen and (max-width: 480px) {
    .form-container{
        width: 70%;
    }
  
    .site-name {
        font-size: 1.2rem;
    }

    .profile-picture {
        width: 300px;
        height: 300px;
        max-width: 300px;
        max-height: 300px;
    }

    .account-details h2 {
        font-size: 18px;
    }

    .account-details p {
        font-size: 18px;
    }


    .posting button {
        margin: 5px;
        font-size: 18px;
    }

    .input-group {
        padding: 5px;
    }

    .text-input {
        font-size: 0.8rem;
    }

    .post-container {
        margin: 50px auto;
        padding: 10px;
    }

    .user-post {
        padding-bottom: 10px;
    }

    .user-post p {
        font-size: 11px;
    }

    .user-dp {
        max-width: 35px;
    }

    .post-content {
        padding: 5px 0;
    }

    .student-college {
        font-size: 9px;
    }

    .swiper-container {
        max-height: 250px;
    }

}

@media screen and (max-width: 390px){
    .text-input{
        width: 50%;
    }
}